
    *{
        font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 14px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    
    body {
        background: #15110C;
    }
    
    p{
        font-size: 40px;
        text-align: center;
    }
    
    h1{
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    h2{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    h3{
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 30px;
        
    }
    
    a{
        color: #ff9900;
    }
    
    a:hover {
        text-decoration:none ;
    }
    
    div {
    position:relative;
    }
    
    ol,ul {
    list-style-position:inside;
    }
    
    
    
    .in {
    width:900px;
    margin:auto;
    size-adjust:initial;
    }
    
    
    
    strong {
        color:black ;
    }
    
    #header {
        background: #1E1912;
        }
    
    #header .in {
        background: url("/www-d.jpg") 30px top no-repeat;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    #header .in a {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
    
    #header .in span a {
        display: block;
        font-weight: normal;
        font-size: 20px;
        text-transform: none;
        color: #ff9900;
        text-align:center ;
    }
    
    #menu{
        height: 50px;
        margin-top:-25px;
        margin-bottom:-25px;
        z-index:20;
    }
    
    #menu .in ul li {
        float: left;
        width: 150px;
        height: 50px;
        display:block;
    }
    
    #menu .in ul li a{
        background-color: #ff9900;
        display:block;
        border-top: 1px #ffbb44 solid;
        border-bottom: 1px #dd8800 solid;
        color: #222211;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        width: 100% ;
        height: 100% ;
    }
    #menu .in ul li a:hover
    {
        background-color: #ffbb44 ;
    }
    
    #headline {
        background: url("/tiger-d.jpg") center top no-repeat;
        background-color :#1E1912 ;
    }
    
    #headline .in {
        padding-top: 340px;
        padding-bottom: 100px;
    }
    
    #headline h1 {
        color : #ff9900 ; 
        padding-right: 340px;
        display: block;
    }
    
    #headline p {
        font-size: 16px;
    
    }
    #feature .in ul li {
        height: 160px;
        width: 280px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        float: left;
        background: url("/tiger-pencil.jpg");
        background-size: cover;
    }
    
    #feature .in ul li span a {
        color: white ;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        padding: 10px;
        background-color: #ff9900;
        margin-top: 10px;
    }
    iframe{
        width: 2000px;
        margin: auto;
        display: block;
        text-align: center;
    }
